* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

.image {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(/Images/main-bg.jpg);
    background-attachment: fixed;
}

header {
    color: white;
    background-color: rgb(0, 0, 0, 0.047);
    height: 100px;
}

.padd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 444px; */
    /* padding-right: 300px; */
    height: 100%;
}

.logo{
    width: 500px;
    /* border: 1px solid yellow; */
    /* border: 1px solid white; */
    /* padding-left: 500px; */
    margin-left: 443.5px;
    margin-right: 109px;
}

ul {
    padding-top: 1.2rem;
    margin-right: 5px;
    text-decoration: none;
    list-style: none;
    display: flex;
}

ul li {
    /* margin: 0px 5px 0px 0px; */
    /* margin: 0px 0px 0px 8px; */
    /* padding-right: 20px; */
    width: 90px;
    font-size: 14px;
}

.first-list{
    width: 67.2px;
    margin-right: 20px;
}

.second-list{
    width: 73px;
    margin-right: 20px;
}

.third-list{
    width: 79.8px;
    margin-right: 20px;
}

.fourth-list{
    width: 45px;
    margin-right: 20px;
}

.fifth-list{
    width: 41px;
    margin-right: 20px;
}

.btns{
    /* border: 1px solid yellow; */
    display: flex;
    padding-top: 0.2rem;
    padding-left: 2px;
    margin-right: 462px;
}

.unstyled-button-1,
.unstyled-button-2 {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}

.unstyled-button-1 {
    font-size: 18px;
}

.unstyled-button-2 {
    font-size: 17px;
    padding-bottom: 1px;
}

.circle-button-1 {
    background: none;
    border: none;
}

.circle-button-2 {
    background-color: rgb(134, 134, 134);
    outline: none;
    cursor: pointer;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    font-size: 13px;
    color: white;
    border-color: rgb(134, 134, 134);
}

/* HOME PAGE */
.content-1{
    padding-left: 522px;
    padding-top: 247px;
}
.first-text {
    font-size: 90px;
    line-height: 80px;
}

.second-text {
    font-size: 90px;
    line-height: 80px;
    color: white;
}

.third-text {
    font-size: 20px;
    line-height: 100px;
    color: white;
    letter-spacing: 5px;
}

/* ================================================================================================================================= */
/* Second Pageeeeeeeeeeeeeeeee */
.section-2 {
    padding-left: 483.5px;
    padding-right: 382px;
    padding-top: 79px;
    width: 100%;
    height: 497px;
    background-color: #3C3C4E;
}

.section-2-1{
    padding-top: 57px;
}

.custom-line-white {
    width: 51px;
    height: 12px;
    background-color: white;
    margin-bottom: 10px;
}

.fourth-text {
    font-size: 80px;
    line-height: 72px;
    padding-top: 13px;
    color: white;
}

.fifth-text {
    color: white;
    letter-spacing: 1.6px;
}

.custom-line-section-2{
    width: 39px;
    height: 12px;
    background-color: #4E5AC3;
    margin-bottom: 17px;
}

.section-2-2{
    line-height: 19px;
}


.custom-line {
    width: 51px;
    height: 12px;
    background-color: #4E5AC3;
    margin-bottom: 10px;
}
/* ================================================================================================================================= */


/* ================================================================================================================================= */
/* Third Pageeeeeeeeeeeeee  */
.section-3 {
    padding-left: 483.5px;
    padding-right: 700px;
    padding-top: 86px;
    height: 637px;
    background-size:contain;
    background-image: url(/Images/two-people.jpg);
    background-attachment:fixed;
}

.sixth-text{
    font-size: 80px;
    line-height: 72px;
    padding-top: 9px;
}

.seventh-text{
    font-size: 16px;
    line-height: 26px;
    padding-top: 35px;
}
/* ================================================================================================================================= */


/* ================================================================================================================================= */
/* Fourth Pageeeeeeeeeeeeee  */
.section-4 {
    padding-left: 483.5px;
    padding-right: 870px;
    padding-top: 84px;
    width: 100%;
    /* height: 497px; */
}

.eigth-text{
    font-size: 80px;
    line-height: 72px;
    padding-top: 6px;
}

.ninth-text{
    font-size: 16px;
    line-height: 26px;
    padding-top: 32px;
    padding-bottom: 52px;
}
/* ================================================================================================================================= */

/* ================================================================================================================================= */
/* Section Galleryyyyyy  */
.section-gallery-1{
    /* width: 100%; */
    overflow: hidden;
}

.section-gallery-1 img{
    width: 650px;
    height: 475px;
}
/* ================================================================================================================================= */


/* ================================================================================================================================= */
/* Fifth Pageeeeeeeeeeeeee  */
.section-5 {
    padding-left: 483.5px;
    padding-right: 465px;
    padding-top: 84px;
    width: 100%;
    /* height: 497px; */
}

.tenth-text{
    font-size: 80px;
    line-height: 72px;
    padding-top: 7px;
}

.eleventh-text{
    font-size: 16px;
    line-height: 25px;
    padding-top: 38px;
    /* padding-bottom: 52px;? */
}

.section-gallery-2{
    padding-top: 17.5px;
    padding-left: 464px;
    padding-right: 463.5199px;
    padding-bottom: 104px;
}
/* ================================================================================================================================= */


/* ================================================================================================================================= */
/* Sixth Pageeeeeeeeeeeeee  */
.section-6 {
    padding-left: 483.5px;
    padding-right: 465px;
    padding-top: 82px;
    width: 100%;
    height: 422px;
    background-color: #dadada;
}

.twelveth-text{
    font-size: 80px;
    line-height: 72px;
    padding-top: 3px;
}

.thirteenth-text{
    font-size: 16px;
    line-height: 25px;
    padding-top: 34px;
}

.section-gallery-3 img {
    width: 475px;
    height: 357px;
}
/* ================================================================================================================================= */


/* ================================================================================================================================= */
/* Seventh Pageeeeeeeeeeeeeeee  */
.section-7 {
    padding-left: 483.5px;
    padding-right: 366px;
    padding-top: 119px;
    width: 100%;
    height: 679px;
    background-color: #4E5AC3;
}

.fourteenth-text{
    font-size: 80px;
    line-height: 80px;
    padding-top: 9px;
}

.fifteenth-text-1{
    font-size: 48px;
    color: white;
    padding-top: 57px;
    padding-left: 9px;
    letter-spacing: 2.4px;
}

.fifteenth-text-2{
    padding-top: 19px;
    padding-left: 9px;
    font-size: 16px;
    color: white;
    letter-spacing: 3.2px;
    line-height: 19px;
}
/* ================================================================================================================================= */

/* ================================================================================================================================= */
/* Eighth Pageeeeeeeeeeeeeeeeeeeee  */
.section-8 {
    padding-left: 483.5px;
    padding-right: 420px;
    padding-top: 88px;
    width: 100%;
    height: 764px;
}

.sixteenth-text{
    padding-top: 5px;
    font-size: 80px;
    line-height: 80px;
    padding-bottom: 48px;
}

.seventeenth-text{
    font-size: 14px;
    padding-bottom: 3px;
}

.input-container {
    align-items: center;
    margin-bottom: 0px;
}

input, textarea {
    width: 446px;
    height: 35px; 
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 0px 0px 5px 12px;
    box-sizing: border-box; 
}

textarea {
    height: 128px; 
    padding: 10px 0px 0px 16px;
}

input::placeholder, textarea::placeholder {
    font-size: 12px;
    color: #4e4e57;
}

.seventeenth-text-btn{
    background-color: #4E5AC3;
    color: white;
    border: none;
    width: 142px;
    height: 35px;
    margin-left: 303px;
    font-size: 17px;
}

.eighteenth-text{
    font-size: 14px;
    color: #4E5AC3;
}

.sec-8-col-2{
    padding-top: 6px;
}

.aaa{
    letter-spacing: 1.45px;
    font-weight: 900;
    padding-bottom: 19px;
}
.bbb{
    line-height: 23px;
    padding-bottom: 18px;
}
.ccc{
    line-height: 23px;
}
/* ================================================================================================================================= */

/* ================================================================================================================================= */
/* Nineth Pageeeeeeeeeeeeeeeeeeeeeeeeee */
.section-9 {
    padding-left: 483.5px;
    padding-right: 420px;
    /* padding-top: 67px; */
    width: 100%;
    height: 195.33px;
    background-color: #3C3C4E;
}
.nineteenth-text{
    font-size: 14px;
    color: white;
    line-height: 20px;
    padding-top: 67px;
}
.twentieth-text{
    font-size: 16px;
    color: white;
    padding-bottom: 12px;
    padding-top: 59px;
}

.sec-9-img{
    width: 200px;
}