:root {
  --wds-add-item-border-radius: 8px;
  --wds-add-item-padding-horizontal-large: 30px;
  --wds-add-item-padding-horizontal-tiny: 12px;
  --wds-add-item-padding-vertical-large: 30px;
  --wds-add-item-padding-vertical-medium: 24px;
  --wds-add-item-padding-vertical-small: 18px;
  --wds-add-item-padding-vertical-tiny: 12px;
  --wds-avatar-group-gap-condensed: -3px;
  --wds-avatar-group-gap-default: 6px;
  --wds-badge-border-radius-medium: 2px;
  --wds-badge-border-radius-small: 2px;
  --wds-badge-border-radius-tiny: 2px;
  --wds-badge-padding-horizontal-medium: 12px;
  --wds-badge-padding-horizontal-small: 6px;
  --wds-badge-padding-horizontal-tiny: 6px;
  --wds-badge-padding-vertical-medium: 3px;
  --wds-badge-padding-vertical-small: 0;
  --wds-badge-padding-vertical-tiny: 0;
  --wds-badge-size-medium: 24px;
  --wds-badge-size-small: 18px;
  --wds-badge-size-tiny: 18px;
  --wds-breadcrumbs-border-radius: 1000px;
  --wds-breadcrumbs-on-dark-fill-hover: rgba(255, 255, 255, .3);
  --wds-breadcrumbs-on-grey-fill-hover: #ffffff;
  --wds-breadcrumbs-on-white-fill-hover: #e7f0ff;
  --wds-breadcrumbs-padding-horizontal: 9px;
  --wds-breadcrumbs-padding-vertical: 6px;
  --wds-button-border-radius-large: 1000px;
  --wds-button-border-radius-medium: 1000px;
  --wds-button-border-radius-small: 1000px;
  --wds-button-border-radius-tiny: 1000px;
  --wds-button-font-line-height-large: 24px;
  --wds-button-font-line-height-medium: 24px;
  --wds-button-font-line-height-small: 18px;
  --wds-button-font-line-height-tiny: 18px;
  --wds-button-font-size-large: 16px;
  --wds-button-font-size-medium: 16px;
  --wds-button-font-size-small: 14px;
  --wds-button-font-size-tiny: 12px;
  --wds-button-gap-large: 12px;
  --wds-button-gap-medium: 6px;
  --wds-button-gap-small: 6px;
  --wds-button-gap-tiny: 3px;
  --wds-button-icon-offset-large: 12px;
  --wds-button-icon-offset-medium: 12px;
  --wds-button-icon-offset-small: 12px;
  --wds-button-icon-offset-tiny: 12px;
  --wds-button-padding-horizontal-large: 30px;
  --wds-button-padding-horizontal-medium: 24px;
  --wds-button-padding-horizontal-small: 18px;
  --wds-button-padding-horizontal-tiny: 12px;
  --wds-button-padding-vertical-large: 9px;
  --wds-button-padding-vertical-medium: 6px;
  --wds-button-padding-vertical-small: 6px;
  --wds-button-padding-vertical-tiny: 3px;
  --wds-button-size-large: 42px;
  --wds-button-size-large-screen-small: 54px;
  --wds-button-size-medium: 36px;
  --wds-button-size-medium-screen-small: 48px;
  --wds-button-size-small: 30px;
  --wds-button-size-small-screen-small: 42px;
  --wds-button-size-tiny: 24px;
  --wds-button-size-tiny-screen-small: 36px;
  --wds-button-size-x-tiny: 18px;
  --wds-card-border: 8px;
  --wds-card-content-paddings-horizontal: 24px;
  --wds-card-content-paddings-vertical: 24px;
  --wds-card-header-paddings-horizontal: 24px;
  --wds-card-header-paddings-vertical: 18px;
  --wds-card-tab-padding-horizontal-medium: 18px;
  --wds-card-tab-padding-horizontal-small: 18px;
  --wds-card-tab-padding-vertical-medium: 18px;
  --wds-card-tab-padding-vertical-small: 18px;
  --wds-checkbox-border: #116dff;
  --wds-checkbox-border-active: #116dff;
  --wds-checkbox-border-active-disabled: rgba(0, 6, 36, .1);
  --wds-checkbox-border-active-hover: rgba(0, 6, 36, 0);
  --wds-checkbox-border-disabled: rgba(0, 6, 36, .1);
  --wds-checkbox-border-hover: #116dff;
  --wds-checkbox-border-radius: 4px;
  --wds-checkbox-fill: #ffffff;
  --wds-checkbox-fill-active: #116dff;
  --wds-checkbox-fill-active-disabled: rgba(0, 6, 36, .1);
  --wds-checkbox-fill-active-hover: #0f62e6;
  --wds-checkbox-fill-disabled: rgba(0, 6, 36, .1);
  --wds-checkbox-fill-hover: #e7f0ff;
  --wds-checkbox-group-gap-vertical: 12px;
  --wds-checkbox-icon: #ffffff;
  --wds-checkbox-icon-disabled: rgba(0, 6, 36, .3);
  --wds-circular-progress-bar-background-fill-error: #fbd0cd;
  --wds-circular-progress-bar-background-fill-premium: #e3c3f4;
  --wds-circular-progress-bar-background-fill-standard: #d6e6fe;
  --wds-circular-progress-bar-background-fill-success: #c8e8d6;
  --wds-circular-progress-bar-foreground-fill-error: #e62214;
  --wds-circular-progress-bar-foreground-fill-premium: #9a27d5;
  --wds-circular-progress-bar-foreground-fill-standard: #116dff;
  --wds-circular-progress-bar-foreground-fill-success: #25a55a;
  --wds-circular-progress-bar-size-large: 102px;
  --wds-circular-progress-bar-size-medium: 54px;
  --wds-circular-progress-bar-size-small: 30px;
  --wds-close-button-standard-fill-active: #084ebd;
  --wds-close-button-standard-fill-disabled: rgba(0, 6, 36, .1);
  --wds-close-button-standard-fill-hover: #a8caff;
  --wds-close-button-standard-filled-fill: #d6e6fe;
  --wds-close-button-standard-filled-size-large: 30px;
  --wds-close-button-standard-filled-size-medium: 24px;
  --wds-close-button-standard-filled-size-small: 18px;
  --wds-close-button-standard-filled-text: #116dff;
  --wds-close-button-standard-filled-text-disabled: #ffffff;
  --wds-close-button-standard-filled-text-hover: #116dff;
  --wds-composer-sidebar-bottom-width: 90px;
  --wds-composer-sidebar-end-max-width: 240px;
  --wds-composer-sidebar-item-bottom-padding-horizontal-large: 6px;
  --wds-composer-sidebar-item-bottom-padding-horizontal-medium: 6px;
  --wds-composer-sidebar-item-bottom-padding-horizontal-small: 6px;
  --wds-composer-sidebar-item-bottom-padding-vertical-large: 12px;
  --wds-composer-sidebar-item-bottom-padding-vertical-medium: 12px;
  --wds-composer-sidebar-item-bottom-padding-vertical-small: 6px;
  --wds-composer-sidebar-item-end-padding-horizontal-large: 15px;
  --wds-composer-sidebar-item-end-padding-horizontal-medium: 15px;
  --wds-composer-sidebar-item-end-padding-horizontal-small: 15px;
  --wds-composer-sidebar-item-end-padding-vertical-large: 9px;
  --wds-composer-sidebar-item-end-padding-vertical-medium: 9px;
  --wds-composer-sidebar-item-end-padding-vertical-small: 6px;
  --wds-composer-sidebar-item-tooltip-padding-horizontal-large: 12px;
  --wds-composer-sidebar-item-tooltip-padding-horizontal-medium: 12px;
  --wds-composer-sidebar-item-tooltip-padding-horizontal-small: 12px;
  --wds-composer-sidebar-item-tooltip-padding-vertical-large: 12px;
  --wds-composer-sidebar-item-tooltip-padding-vertical-medium: 12px;
  --wds-composer-sidebar-item-tooltip-padding-vertical-small: 6px;
  --wds-counter-badge-border-radius-medium: 1000px;
  --wds-counter-badge-border-radius-small: 1000px;
  --wds-counter-badge-padding-horizontal-medium: 9px;
  --wds-counter-badge-padding-horizontal-small: 6px;
  --wds-counter-badge-size-medium: 24px;
  --wds-counter-badge-size-small: 18px;
  --wds-custom-modal-border-radius: 8px;
  --wds-custom-modal-content-padding-horizon: 24px;
  --wds-custom-modal-content-padding-vertical: 24px;
  --wds-custom-modal-footer-padding-horizon: 24px;
  --wds-custom-modal-footer-padding-vertical: 18px;
  --wds-custom-modal-footnote-padding-horizon: 24px;
  --wds-custom-modal-footnote-padding-vertical: 12px;
  --wds-custom-modal-header-padding-left: 24px;
  --wds-custom-modal-header-padding-right: 9px;
  --wds-custom-modal-header-padding-vertical: 18px;
  --wds-dock-background-fill: #e7f0ff;
  --wds-dock-background-fill-active: #d6e6fe;
  --wds-dock-background-fill-disabled: rgba(0, 6, 36, .1);
  --wds-dock-background-fill-hover: #e7f0ff;
  --wds-dock-foreground-fill: #a8caff;
  --wds-dock-foreground-fill-active: #116dff;
  --wds-dock-foreground-fill-disabled: rgba(0, 6, 36, .3);
  --wds-dock-foreground-fill-hover: #5999ff;
  --wds-dropdown-layout-option-size-big: 48px;
  --wds-dropdown-layout-option-size-small: 36px;
  --wds-empty-state-border-radius: 8px;
  --wds-empty-state-page-content-paddings: 18px;
  --wds-empty-state-section-content-paddings: 15px;
  --wds-feature-list-gap: 30px;
  --wds-field-set-gap-large: 18px;
  --wds-field-set-gap-medium: 12px;
  --wds-field-set-gap-small: 6px;
  --wds-field-set-label-font-line-height-small: 18px;
  --wds-field-set-label-font-line-height-tiny: 18px;
  --wds-field-set-label-font-size-small: 14px;
  --wds-field-set-label-font-size-tiny: 12px;
  --wds-field-set-label-gap-small: 9px;
  --wds-field-set-label-gap-tiny: 6px;
  --wds-floating-helper-padding-horizontal: 36px;
  --wds-floating-helper-padding-vertical: 30px;
  --wds-form-field-label-font-line-height-small: 18px;
  --wds-form-field-label-font-line-height-tiny: 18px;
  --wds-form-field-label-font-size-small: 14px;
  --wds-form-field-label-font-size-tiny: 12px;
  --wds-form-field-label-gap-small: 9px;
  --wds-form-field-label-gap-tiny: 6px;
  --wds-gallery-item-border: 8px;
  --wds-gallery-item-padding-left-medium: 18px;
  --wds-gallery-item-padding-left-small: 12px;
  --wds-gallery-item-padding-right-medium: 24px;
  --wds-gallery-item-padding-right-small: 18px;
  --wds-gallery-item-padding-vertical-medium: 18px;
  --wds-gallery-item-padding-vertical-small: 12px;
  --wds-image-border-radius-default: 8px;
  --wds-image-border-radius-none: 0;
  --wds-input-border-radius-default-large: 6px;
  --wds-input-border-radius-default-medium: 6px;
  --wds-input-border-radius-default-small: 6px;
  --wds-input-border-radius-default-tiny: 6px;
  --wds-input-border-radius-round-large: 1000px;
  --wds-input-border-radius-round-medium: 1000px;
  --wds-input-border-radius-round-small: 1000px;
  --wds-input-border-radius-round-tiny: 1000px;
  --wds-input-icon-affix-fill: #116dff;
  --wds-input-padding-horizontal-large: 9px;
  --wds-input-padding-horizontal-medium: 6px;
  --wds-input-padding-horizontal-small: 6px;
  --wds-input-padding-horizontal-tiny: 6px;
  --wds-input-padding-vertical-large: 9px;
  --wds-input-padding-vertical-medium: 6px;
  --wds-input-padding-vertical-small: 6px;
  --wds-input-padding-vertical-tiny: 3px;
  --wds-input-size-large: 42px;
  --wds-input-size-medium: 36px;
  --wds-input-size-small: 30px;
  --wds-input-size-tiny: 24px;
  --wds-input-value-font-line-height-large: 24px;
  --wds-input-value-font-line-height-medium: 24px;
  --wds-input-value-font-line-height-small: 18px;
  --wds-input-value-font-line-height-tiny: 18px;
  --wds-input-value-font-size-large: 16px;
  --wds-input-value-font-size-medium: 16px;
  --wds-input-value-font-size-small: 14px;
  --wds-input-value-font-size-tiny: 12px;
  --wds-input-width-fixed: 288px;
  --wds-input-width-large: 96px;
  --wds-input-width-medium: 72px;
  --wds-input-width-small: 54px;
  --wds-input-width-tiny: 48px;
  --wds-input-area-border-radius-default-medium: 6px;
  --wds-input-area-border-radius-default-small: 6px;
  --wds-input-area-padding-left-medium: 12px;
  --wds-input-area-padding-left-small: 12px;
  --wds-input-area-padding-right-medium: 9px;
  --wds-input-area-padding-right-small: 9px;
  --wds-input-area-padding-vertical-medium: 6px;
  --wds-input-area-padding-vertical-small: 6px;
  --wds-linear-progress-bar-border-radius: 1000px;
  --wds-list-item-gap-columns: 24px;
  --wds-list-item-indentation-level-2: 12px;
  --wds-list-item-indentation-level-3: 30px;
  --wds-list-item-padding-horizontal-large: 24px;
  --wds-list-item-padding-horizontal-medium: 18px;
  --wds-list-item-padding-horizontal-small: 15px;
  --wds-list-item-padding-horizontal-tiny: 12px;
  --wds-list-item-padding-horizontal-x-tiny: 6px;
  --wds-list-item-padding-horizontal-xx-tiny: 3px;
  --wds-list-item-padding-vertical-large: 24px;
  --wds-list-item-padding-vertical-medium: 18px;
  --wds-list-item-padding-vertical-small: 15px;
  --wds-list-item-padding-vertical-tiny: 12px;
  --wds-list-item-padding-vertical-x-tiny: 6px;
  --wds-list-item-padding-vertical-xx-tiny: 3px;
  --wds-list-item-action-padding-horizontal-medium: 18px;
  --wds-list-item-action-padding-horizontal-small: 18px;
  --wds-list-item-action-padding-vertical-medium: 6px;
  --wds-list-item-action-padding-vertical-medium-screen-small: 12px;
  --wds-list-item-action-padding-vertical-small: 6px;
  --wds-list-item-action-padding-vertical-small-screen-small: 12px;
  --wds-list-item-section-padding-horizontal: 24px;
  --wds-list-item-select-active-fill: #116dff;
  --wds-list-item-select-active-fill-active: #084ebd;
  --wds-list-item-select-active-fill-active-screen-small: #d6e6fe;
  --wds-list-item-select-active-fill-disabled: rgba(0, 6, 36, .3);
  --wds-list-item-select-active-fill-hover: #0f62e6;
  --wds-list-item-select-active-fill-screen-small: #ffffff;
  --wds-list-item-select-active-subtitle: #ffffff;
  --wds-list-item-select-active-subtitle-disabled: rgba(255, 255, 255, .7);
  --wds-list-item-select-active-subtitle-disabled-screen-small: rgba(0, 6, 36, .3);
  --wds-list-item-select-active-subtitle-screen-small: #116dff;
  --wds-list-item-select-active-title: #ffffff;
  --wds-list-item-select-active-title-disabled: rgba(255, 255, 255, .7);
  --wds-list-item-select-active-title-disabled-screen-small: rgba(0, 6, 36, .3);
  --wds-list-item-select-active-title-screen-small: #116dff;
  --wds-list-item-select-fill: #ffffff;
  --wds-list-item-select-fill-active: #d6e6fe;
  --wds-list-item-select-fill-disabled: #ffffff;
  --wds-list-item-select-fill-hover: #e7f0ff;
  --wds-list-item-select-padding-horizontal-medium: 18px;
  --wds-list-item-select-padding-horizontal-small: 18px;
  --wds-list-item-select-padding-vertical-medium: 6px;
  --wds-list-item-select-padding-vertical-medium-screen-small: 12px;
  --wds-list-item-select-padding-vertical-small: 6px;
  --wds-list-item-select-padding-vertical-small-screen-small: 12px;
  --wds-list-item-select-subtitle: #868aa5;
  --wds-list-item-select-subtitle-disabled: rgba(0, 6, 36, .3);
  --wds-list-item-select-title: #000624;
  --wds-list-item-select-title-disabled: rgba(0, 6, 36, .3);
  --wds-marketing-layout-border: 8px;
  --wds-marketing-layout-padding-left-medium: 48px;
  --wds-marketing-layout-padding-left-small: 24px;
  --wds-marketing-layout-padding-left-tiny: 24px;
  --wds-marketing-layout-padding-right-medium: 42px;
  --wds-marketing-layout-padding-right-small: 30px;
  --wds-marketing-layout-padding-right-tiny: 30px;
  --wds-marketing-layout-padding-vertical-medium: 24px;
  --wds-marketing-layout-padding-vertical-small: 24px;
  --wds-marketing-layout-padding-vertical-tiny: 18px;
  --wds-marketing-page-paddings-horizontal-large: 90px;
  --wds-marketing-page-paddings-horizontal-medium: 48px;
  --wds-marketing-page-paddings-vertical-large: 48px;
  --wds-marketing-page-paddings-vertical-medium: 30px;
  --wds-message-modal-content-padding-horizontal: 24px;
  --wds-message-modal-content-padding-top: 24px;
  --wds-mobile-modal-content-padding-horizontal: 24px;
  --wds-mobile-modal-content-padding-vertical: 24px;
  --wds-mobile-modal-footer-padding-horizontal: 24px;
  --wds-mobile-modal-footer-padding-vertical: 24px;
  --wds-notification-padding-horizontal: 12px;
  --wds-notification-padding-vertical: 9px;
  --wds-page-header-padding-horizontal: 48px;
  --wds-page-header-padding-vertical: 24px;
  --wds-page-header-padding-vertical-small: 18px;
  --wds-pagination-fill: #ffffff;
  --wds-pagination-fill-active: #116dff;
  --wds-pagination-fill-hover: #0f62e6;
  --wds-pagination-gap: 6px;
  --wds-pagination-padding-horizontal: 3px;
  --wds-pagination-padding-vertical: 3px;
  --wds-palette-border: 6px;
  --wds-popover-border: 8px;
  --wds-radio-border: #116dff;
  --wds-radio-border-active: #116dff;
  --wds-radio-border-active-disabled: rgba(0, 6, 36, .1);
  --wds-radio-border-disabled: rgba(0, 6, 36, .1);
  --wds-radio-border-hover: #116dff;
  --wds-radio-border-radius: 1000px;
  --wds-radio-dot-fill-active: #116dff;
  --wds-radio-dot-fill-disabled: rgba(0, 6, 36, .3);
  --wds-radio-dot-size: 10px;
  --wds-radio-fill: #ffffff;
  --wds-radio-fill-active: #ffffff;
  --wds-radio-fill-active-disabled: rgba(0, 6, 36, .1);
  --wds-radio-fill-active-hover: #ffffff;
  --wds-radio-fill-disabled: rgba(0, 6, 36, .1);
  --wds-radio-fill-hover: #e7f0ff;
  --wds-radio-label-font-line-height-medium: 24px;
  --wds-radio-label-font-line-height-small: 18px;
  --wds-radio-label-font-size-medium: 16px;
  --wds-radio-label-font-size-small: 14px;
  --wds-radio-group-gap-horizontal-medium: 24px;
  --wds-radio-group-gap-horizontal-small: 24px;
  --wds-radio-group-gap-vertical-medium: 12px;
  --wds-radio-group-gap-vertical-small: 6px;
  --wds-radio-group-item-padding-default-horizontal: 0;
  --wds-radio-group-item-padding-default-horizontal-screen-small: 0;
  --wds-radio-group-item-padding-default-vertical: 0;
  --wds-radio-group-item-padding-default-vertical-screen-small: 12px;
  --wds-radio-group-item-padding-filled-horizontal: 18px;
  --wds-radio-group-item-padding-filled-horizontal-screen-small: 18px;
  --wds-radio-group-item-padding-filled-vertical: 12px;
  --wds-radio-group-item-padding-filled-vertical-screen-small: 12px;
  --wds-radio-group-item-padding-outlined-horizontal: 18px;
  --wds-radio-group-item-padding-outlined-horizontal-screen-small: 18px;
  --wds-radio-group-item-padding-outlined-vertical: 12px;
  --wds-radio-group-item-padding-outlined-vertical-screen-small: 12px;
  --wds-scrollbar-fill: #a8caff;
  --wds-scrollbar-fill-active: #116dff;
  --wds-scrollbar-fill-hover: #5999ff;
  --wds-search-border-radius-large: 1000px;
  --wds-search-border-radius-medium: 1000px;
  --wds-search-border-radius-small: 1000px;
  --wds-search-border-radius-tiny: 1000px;
  --wds-section-header-padding-vertical: 9px;
  --wds-section-helper-default-action-padding-medium: 12px;
  --wds-section-helper-default-action-padding-small: 9px;
  --wds-section-helper-default-border-radius: 6px;
  --wds-section-helper-default-vertical-padding-medium: 18px;
  --wds-section-helper-default-vertical-padding-small: 9px;
  --wds-section-helper-fullwidth-horizontal-padding-medium: 24px;
  --wds-section-helper-fullwidth-horizontal-padding-small: 24px;
  --wds-section-helper-fullwidth-vertical-padding-medium: 12px;
  --wds-section-helper-fullwidth-vertical-padding-small: 9px;
  --wds-segmented-toggle-border-radius-medium: 6px;
  --wds-segmented-toggle-border-radius-small: 6px;
  --wds-segmented-toggle-icononly-padding-horizontal-medium: 6px;
  --wds-segmented-toggle-icononly-padding-horizontal-small: 6px;
  --wds-segmented-toggle-icononly-padding-vertical-medium: 6px;
  --wds-segmented-toggle-icononly-padding-vertical-small: 6px;
  --wds-segmented-toggle-label-font-line-height-medium: 24px;
  --wds-segmented-toggle-label-font-line-height-small: 18px;
  --wds-segmented-toggle-label-font-size-medium: 16px;
  --wds-segmented-toggle-label-font-size-small: 14px;
  --wds-segmented-toggle-padding-horizontal-medium: 24px;
  --wds-segmented-toggle-padding-horizontal-small: 12px;
  --wds-segmented-toggle-padding-vertical-medium: 6px;
  --wds-segmented-toggle-padding-vertical-small: 6px;
  --wds-segmented-toggle-size-medium: 36px;
  --wds-segmented-toggle-size-small: 30px;
  --wds-select-area-border-radius: 8px;
  --wds-select-area-fill: #f4f7ff;
  --wds-select-area-fill-active: #d6e6fe;
  --wds-select-area-fill-disabled: rgba(255, 255, 255, 0);
  --wds-select-area-fill-hover: #e7f0ff;
  --wds-select-area-padding-horizontal: 18px;
  --wds-select-area-padding-vertical: 12px;
  --wds-selector-button-padding-horizontal-left-large: 12px;
  --wds-selector-button-padding-horizontal-left-medium: 12px;
  --wds-selector-button-padding-horizontal-left-small: 12px;
  --wds-selector-button-padding-horizontal-right-large: 6px;
  --wds-selector-button-padding-horizontal-right-medium: 6px;
  --wds-selector-button-padding-horizontal-right-small: 6px;
  --wds-selector-button-padding-vertical-large: 6px;
  --wds-selector-button-padding-vertical-medium: 6px;
  --wds-selector-button-padding-vertical-small: 6px;
  --wds-selector-button-size-large: 42px;
  --wds-selector-button-size-medium: 36px;
  --wds-selector-button-size-small: 30px;
  --wds-side-panel-content-padding-horizontal: 24px;
  --wds-side-panel-content-padding-vertical: 24px;
  --wds-side-panel-control-layout-divider-border-width: 1px;
  --wds-side-panel-field-padding-horizontal: 24px;
  --wds-side-panel-field-padding-vertical: 18px;
  --wds-side-panel-floating-border-radius: 8px;
  --wds-side-panel-floating-header-padding-left: 24px;
  --wds-side-panel-floating-header-padding-right: 9px;
  --wds-side-panel-floating-header-padding-vertical: 12px;
  --wds-side-panel-footer-padding-horizontal: 24px;
  --wds-side-panel-footer-padding-vertical: 18px;
  --wds-side-panel-footnote-padding-horizontal: 24px;
  --wds-side-panel-footnote-padding-vertical: 12px;
  --wds-side-panel-header-padding-left: 24px;
  --wds-side-panel-header-padding-right: 9px;
  --wds-side-panel-header-padding-vertical: 18px;
  --wds-sidebar-divider-fill-dark-default: #42454C;
  --wds-sidebar-divider-fill-light-default: #cfd1dc;
  --wds-sidebar-divider-fill-neutral-default: #cfd1dc;
  --wds-sidebar-header-margin-bottom: 12px;
  --wds-sidebar-item-content-gap: 6px;
  --wds-sidebar-item-level-1-fill-dark-active: #42454C;
  --wds-sidebar-item-level-1-fill-dark-default: #131720;
  --wds-sidebar-item-level-1-fill-dark-hover: #2B2E36;
  --wds-sidebar-item-level-1-fill-light-active: #a8caff;
  --wds-sidebar-item-level-1-fill-light-default: #ffffff;
  --wds-sidebar-item-level-1-fill-light-hover: #d6e6fe;
  --wds-sidebar-item-level-1-fill-neutral-active: #a8caff;
  --wds-sidebar-item-level-1-fill-neutral-default: #eceff3;
  --wds-sidebar-item-level-1-fill-neutral-hover: #d6e6fe;
  --wds-sidebar-item-level-1-padding-bottom: 9px;
  --wds-sidebar-item-level-1-padding-end: 18px;
  --wds-sidebar-item-level-1-padding-start: 24px;
  --wds-sidebar-item-level-1-padding-top: 9px;
  --wds-sidebar-item-level-2-fill-dark-default: #1F222B;
  --wds-sidebar-item-level-2-fill-light-default: #EAF7FF;
  --wds-sidebar-item-level-2-fill-neutral-default: #eceff3;
  --wds-sidebar-item-level-2-padding-bottom: 6px;
  --wds-sidebar-item-level-2-padding-end: 18px;
  --wds-sidebar-item-level-2-padding-start: 54px;
  --wds-sidebar-item-level-2-padding-top: 6px;
  --wds-sidebar-item-level-3-divider-padding-bottom: 9px;
  --wds-sidebar-item-level-3-divider-padding-end: 12px;
  --wds-sidebar-item-level-3-divider-padding-top: 9px;
  --wds-sidebar-item-level-3-padding-bottom: 6px;
  --wds-sidebar-item-level-3-padding-end: 18px;
  --wds-sidebar-item-level-3-padding-start: 54px;
  --wds-sidebar-item-level-3-padding-top: 6px;
  --wds-sidebar-item-minimized-paddings-horizontal: 18px;
  --wds-sidebar-item-minimized-paddings-vertical: 9px;
  --wds-sidebar-item-prefix-padding-end: 12px;
  --wds-sidebar-item-text-dark-active: #ffffff;
  --wds-sidebar-item-text-dark-default: #cfd1dc;
  --wds-sidebar-item-text-dark-disabled: #898B8F;
  --wds-sidebar-item-text-light-active: #084ebd;
  --wds-sidebar-item-text-light-default: #44485f;
  --wds-sidebar-item-text-light-disabled: rgba(0, 6, 36, .3);
  --wds-sidebar-item-text-neutral-active: #084ebd;
  --wds-sidebar-item-text-neutral-default: #44485f;
  --wds-sidebar-item-text-neutral-disabled: rgba(0, 6, 36, .3);
  --wds-sidebar-item-title: #868aa5;
  --wds-sidebar-minimize-action-fill-dark-default: #42454C;
  --wds-sidebar-minimize-action-fill-light-default: #d6e6fe;
  --wds-sidebar-minimize-action-fill-neutral-default: #d6e6fe;
  --wds-sidebar-minimize-action-text-dark-default: #cfd1dc;
  --wds-sidebar-minimize-action-text-light-default: #116dff;
  --wds-sidebar-minimize-action-text-neutral-default: #116dff;
  --wds-sidebar-minimize-tooltip-fill-dark-default: #333850;
  --wds-sidebar-minimize-tooltip-fill-light-default: #ffffff;
  --wds-sidebar-minimize-tooltip-fill-neutral-default: #ffffff;
  --wds-sidebar-minimize-tooltip-text-dark-default: #ffffff;
  --wds-sidebar-minimize-tooltip-text-light-default: #44485f;
  --wds-sidebar-minimize-tooltip-text-neutral-default: #44485f;
  --wds-sidebar-scrollbar-fill-dark-active: #b8b9bc;
  --wds-sidebar-scrollbar-fill-dark-default: #717379;
  --wds-sidebar-scrollbar-fill-dark-hover: #9C9EA6;
  --wds-skeleton-border-radius-circle: 1000px;
  --wds-skeleton-border-radius-line: 1000px;
  --wds-skeleton-border-radius-rectangle: 6px;
  --wds-slider-slider-knob-size: 12px;
  --wds-slider-slider-knob-size-transparent: 16px;
  --wds-slider-slider-mark-size: 6px;
  --wds-slider-track-border-border-radius: 1000px;
  --wds-slider-track-border-radius-transparent: 1000px;
  --wds-slider-track-size: 4px;
  --wds-slider-track-size-transparent: 8px;
  --wds-social-post-preview-content-padding-horizontal: 12px;
  --wds-social-post-preview-content-padding-vertical: 12px;
  --wds-social-preview-content-padding-horizontal: 12px;
  --wds-social-preview-content-padding-vertical: 9px;
  --wds-stepper-prefix-size-circle: 30px;
  --wds-stepper-prefix-size-number: 24px;
  --wds-swatches-list-gap: 12px;
  --wds-swatches-list-padding-horizontal: 18px;
  --wds-swatches-list-padding-vertical: 12px;
  --wds-swatches-swatch-active-border-radius-medium: 9px;
  --wds-swatches-swatch-active-border-radius-small: 5px;
  --wds-swatches-swatch-border-radius-medium: 6px;
  --wds-swatches-swatch-border-radius-small: 2px;
  --wds-swatches-swatch-size-large: 30px;
  --wds-swatches-swatch-size-medium: 24px;
  --wds-swatches-swatch-size-small: 18px;
  --wds-tabs-gap-medium: 6px;
  --wds-tabs-gap-small: 6px;
  --wds-tabs-padding-horizontal-medium: 18px;
  --wds-tabs-padding-horizontal-small: 12px;
  --wds-tabs-padding-vertical-medium: 18px;
  --wds-tabs-padding-vertical-small: 12px;
  --wds-tag-border-radius-large: 1000px;
  --wds-tag-border-radius-medium: 1000px;
  --wds-tag-border-radius-small: 1000px;
  --wds-tag-border-radius-tiny: 1000px;
  --wds-tag-padding-horizontal-large: 18px;
  --wds-tag-padding-horizontal-medium: 12px;
  --wds-tag-padding-horizontal-small: 12px;
  --wds-tag-padding-horizontal-tiny: 9px;
  --wds-tag-padding-vertical-large: 6px;
  --wds-tag-padding-vertical-medium: 6px;
  --wds-tag-padding-vertical-small: 3px;
  --wds-tag-padding-vertical-tiny: 0;
  --wds-tag-size-large: 36px;
  --wds-tag-size-medium: 30px;
  --wds-tag-size-small: 24px;
  --wds-tag-size-tiny: 18px;
  --wds-testimonial-list-gap: 30px;
  --wds-thumbnail-border-radius: 6px;
  --wds-thumbnail-gap: 12px;
  --wds-toggle-button-padding-left-large: 9px;
  --wds-toggle-button-padding-left-large-round: 12px;
  --wds-toggle-button-padding-left-medium: 6px;
  --wds-toggle-button-padding-left-medium-round: 12px;
  --wds-toggle-button-padding-left-small: 6px;
  --wds-toggle-button-padding-left-small-round: 12px;
  --wds-toggle-button-padding-left-tiny: 3px;
  --wds-toggle-button-padding-left-tiny-round: 6px;
  --wds-toggle-button-padding-right-large: 18px;
  --wds-toggle-button-padding-right-large-round: 30px;
  --wds-toggle-button-padding-right-medium: 12px;
  --wds-toggle-button-padding-right-medium-round: 24px;
  --wds-toggle-button-padding-right-small: 12px;
  --wds-toggle-button-padding-right-small-round: 18px;
  --wds-toggle-button-padding-right-tiny: 6px;
  --wds-toggle-button-padding-right-tiny-round: 12px;
  --wds-toggle-switch-border-error-disabled: rgba(0, 6, 36, .1);
  --wds-toggle-switch-border-standard-disabled: rgba(0, 6, 36, .1);
  --wds-toggle-switch-border-success-disabled: rgba(0, 6, 36, .1);
  --wds-toggle-switch-border-urgent-disabled: rgba(0, 6, 36, .1);
  --wds-toggle-switch-fill-error: #fbd0cd;
  --wds-toggle-switch-fill-error-active: #e62214;
  --wds-toggle-switch-fill-error-active-hover: #d0180b;
  --wds-toggle-switch-fill-error-disabled: rgba(0, 6, 36, .1);
  --wds-toggle-switch-fill-error-hover: #f69891;
  --wds-toggle-switch-fill-standard: #d6e6fe;
  --wds-toggle-switch-fill-standard-active: #116dff;
  --wds-toggle-switch-fill-standard-active-hover: #0f62e6;
  --wds-toggle-switch-fill-standard-disabled: rgba(0, 6, 36, .1);
  --wds-toggle-switch-fill-standard-hover: #a8caff;
  --wds-toggle-switch-fill-success: #c8e8d6;
  --wds-toggle-switch-fill-success-active: #25a55a;
  --wds-toggle-switch-fill-success-active-hover: #229954;
  --wds-toggle-switch-fill-success-disabled: rgba(0, 6, 36, .1);
  --wds-toggle-switch-fill-success-hover: #87cea5;
  --wds-toggle-switch-fill-urgent: #fddbc8;
  --wds-toggle-switch-fill-urgent-active: #fe620f;
  --wds-toggle-switch-fill-urgent-active-hover: #fee5d7;
  --wds-toggle-switch-fill-urgent-disabled: rgba(0, 6, 36, .1);
  --wds-toggle-switch-fill-urgent-hover: #fcbd9c;
  --wds-toggle-switch-knob-size-large: 22px;
  --wds-toggle-switch-knob-size-medium: 18px;
  --wds-toggle-switch-knob-size-small: 14px;
  --wds-toggle-switch-knob-text-height: 18px;
  --wds-toggle-switch-padding: 1px;
  --wds-toggle-switch-shadow: 0 0 3px rgba(0, 6, 36, .1), 0 2px 1px rgba(0, 6, 36, .5);
  --wds-toggle-switch-width-large: 46px;
  --wds-toggle-switch-width-medium: 34px;
  --wds-toggle-switch-width-small: 28px;
  --wds-tooltip-border-radius-medium: 8px;
  --wds-tooltip-border-radius-small: 8px;
  --wds-tooltip-padding-horizontal-medium: 24px;
  --wds-tooltip-padding-horizontal-small: 12px;
  --wds-tooltip-padding-vertical-medium: 12px;
  --wds-tooltip-padding-vertical-small: 6px;
  --wds-vertical-tabs-action-padding-horizontal-medium: 24px;
  --wds-vertical-tabs-action-padding-horizontal-small: 24px;
  --wds-vertical-tabs-action-padding-horizontal-tiny: 24px;
  --wds-vertical-tabs-action-padding-vertical-medium: 12px;
  --wds-vertical-tabs-action-padding-vertical-small: 12px;
  --wds-vertical-tabs-action-padding-vertical-tiny: 6px;
  --wds-vertical-tabs-item-active-title-text: #116dff;
  --wds-vertical-tabs-item-active-title-text-disabled: rgba(0, 6, 36, .3);
  --wds-vertical-tabs-item-padding-horizontal-medium: 24px;
  --wds-vertical-tabs-item-padding-horizontal-small: 24px;
  --wds-vertical-tabs-item-padding-horizontal-tiny: 24px;
  --wds-vertical-tabs-item-padding-vertical-medium: 12px;
  --wds-vertical-tabs-item-padding-vertical-small: 12px;
  --wds-vertical-tabs-item-padding-vertical-tiny: 6px;
  --wds-vertical-tabs-item-pill-fill-premium: #f7f8f8;
  --wds-vertical-tabs-item-pill-fill-premium-active: #e3c3f4;
  --wds-vertical-tabs-item-pill-fill-premium-disabled: #f7f8f8;
  --wds-vertical-tabs-item-pill-fill-premium-hover: #f1e0f9;
  --wds-vertical-tabs-item-pill-fill-standard: #ffffff;
  --wds-vertical-tabs-item-pill-fill-standard-active: #d6e6fe;
  --wds-vertical-tabs-item-pill-fill-standard-disabled: #f7f8f8;
  --wds-vertical-tabs-item-pill-fill-standard-hover: #e7f0ff;
  --wds-vertical-tabs-item-pill-padding-horizontal: 12px;
  --wds-vertical-tabs-item-pill-padding-vertical: 6px;
  --wds-vertical-tabs-item-round-active: #f7f8f8;
  --wds-vertical-tabs-item-round-disabled: #f7f8f8;
  --wds-vertical-tabs-item-round-fill: #f7f8f8;
  --wds-vertical-tabs-item-round-fill-hover: #f7f8f8;
  --wds-vertical-tabs-item-round-fill-premium: #f7f8f8;
  --wds-vertical-tabs-item-round-fill-premium-active: #f7f8f8;
  --wds-vertical-tabs-item-round-fill-premium-disabled: #f7f8f8;
  --wds-vertical-tabs-item-round-fill-premium-hover: #f7f8f8;
  --wds-vertical-tabs-item-round-padding-bottom-medium: 3px;
  --wds-vertical-tabs-item-round-padding-bottom-small: 3px;
  --wds-vertical-tabs-item-round-padding-bottom-tiny: 3px;
  --wds-vertical-tabs-item-round-padding-horizontal-medium: 12px;
  --wds-vertical-tabs-item-round-padding-horizontal-small: 12px;
  --wds-vertical-tabs-item-round-padding-horizontal-tiny: 12px;
  --wds-vertical-tabs-item-round-padding-top-medium: 0;
  --wds-vertical-tabs-item-round-padding-top-small: 0;
  --wds-vertical-tabs-item-round-padding-top-tiny: 0;
  --wds-vertical-tabs-item-round-title-text-premium: #9a27d5;
  --wds-vertical-tabs-item-round-title-text-premium-active: #9a27d5;
  --wds-vertical-tabs-item-round-title-text-premium-disabled: rgba(0, 6, 36, .3);
  --wds-vertical-tabs-item-round-title-text-premium-hover: #9a27d5;
  --wds-vertical-tabs-item-round-title-text-standard: #000624;
  --wds-vertical-tabs-item-round-title-text-standard-active: #116dff;
  --wds-vertical-tabs-item-round-title-text-standard-disabled: rgba(0, 6, 36, .3);
  --wds-vertical-tabs-item-round-title-text-standard-hover: #000624;
  --wds-vertical-tabs-item-title-text: #000624;
  --wds-vertical-tabs-item-title-text-disabled: rgba(0, 6, 36, .3);
  --wds-vertical-tabs-round-fill: #f7f8f8;
  --wds-vertical-tabs-section-title-padding-bottom-medium: 12px;
  --wds-vertical-tabs-section-title-padding-bottom-small: 12px;
  --wds-vertical-tabs-section-title-padding-bottom-tiny: 6px;
  --wds-vertical-tabs-section-title-padding-horizontal-medium: 24px;
  --wds-vertical-tabs-section-title-padding-horizontal-small: 24px;
  --wds-vertical-tabs-section-title-padding-horizontal-tiny: 24px;
  --wds-vertical-tabs-section-title-padding-top-medium: 24px;
  --wds-vertical-tabs-section-title-padding-top-small: 18px;
  --wds-vertical-tabs-section-title-padding-top-tiny: 6px;
  --wds-border-radius-0: 0;
  --wds-border-radius-100: 2px;
  --wds-border-radius-200: 4px;
  --wds-border-radius-300: 6px;
  --wds-border-radius-400: 8px;
  --wds-border-radius-500: 10px;
  --wds-border-radius-600: 12px;
  --wds-border-radius-full: 1000px;
  --wds-border-width-100: 1px;
  --wds-border-width-200: 2px;
  --wds-border-width-none: 0;
  --wds-breakpoint-large: 1186px;
  --wds-breakpoint-medium: 768px;
  --wds-breakpoint-small: 490px;
  --wds-breakpoint-x-large: 1572px;
  --wds-color-black-100: #000624;
  --wds-color-black-200: #44485f;
  --wds-color-black-300: #595d70;
  --wds-color-black-400: #868aa5;
  --wds-color-black-500: #acafc4;
  --wds-color-black-550: #cfd1dc;
  --wds-color-black-600: #dfe5eb;
  --wds-color-black-700: #eceff3;
  --wds-color-black-750: #f7f8f8;
  --wds-color-black-100-transparent-0: rgba(0, 6, 36, 0);
  --wds-color-black-100-transparent-5: rgba(0, 6, 36, .05);
  --wds-color-black-100-transparent-10: rgba(0, 6, 36, .1);
  --wds-color-black-100-transparent-20: rgba(0, 6, 36, .2);
  --wds-color-black-100-transparent-30: rgba(0, 6, 36, .3);
  --wds-color-black-100-transparent-40: rgba(0, 6, 36, .4);
  --wds-color-black-100-transparent-50: rgba(0, 6, 36, .5);
  --wds-color-black-100-transparent-70: rgba(0, 6, 36, .7);
  --wds-color-black-200-transparent-0: rgba(68, 72, 95, 0);
  --wds-color-black-200-transparent-50: rgba(68, 72, 95, .5);
  --wds-color-black-200-transparent-60: rgba(68, 72, 95, .6);
  --wds-color-black-200-transparent-70: rgba(68, 72, 95, .7);
  --wds-color-black-700-transparent-0: #eceff300;
  --wds-color-blue-0: #084ebd;
  --wds-color-blue-50: #0f62e6;
  --wds-color-blue-100: #116dff;
  --wds-color-blue-200: #5999ff;
  --wds-color-blue-250: #80b1ff;
  --wds-color-blue-300: #a8caff;
  --wds-color-blue-400: #d6e6fe;
  --wds-color-blue-500: #e7f0ff;
  --wds-color-blue-600: #f4f7ff;
  --wds-color-green-0: #1d8649;
  --wds-color-green-50: #229954;
  --wds-color-green-100: #25a55a;
  --wds-color-green-200: #51b77b;
  --wds-color-green-300: #87cea5;
  --wds-color-green-400: #c8e8d6;
  --wds-color-green-500: #e1f4eb;
  --wds-color-green-600: #e9f6ee;
  --wds-color-iris-0: #4d3dd0;
  --wds-color-iris-50: #5443e3;
  --wds-color-iris-100: #5a48f5;
  --wds-color-iris-200: #7b6df7;
  --wds-color-iris-300: #a59bfa;
  --wds-color-iris-400: #d6d1fc;
  --wds-color-iris-500: #e7e4fe;
  --wds-color-iris-600: #eeecfe;
  --wds-color-orange-0: #df4d00;
  --wds-color-orange-50: #f05300;
  --wds-color-orange-100: #fe620f;
  --wds-color-orange-200: #ff7d38;
  --wds-color-orange-300: #fcbd9c;
  --wds-color-orange-400: #fddbc8;
  --wds-color-orange-500: #fee5d7;
  --wds-color-orange-600: #feefe6;
  --wds-color-purple-0: #7416a5;
  --wds-color-purple-50: #8e1dd1;
  --wds-color-purple-100: #9a27d5;
  --wds-color-purple-200: #c161f0;
  --wds-color-purple-300: #cf8cf1;
  --wds-color-purple-400: #e3c3f4;
  --wds-color-purple-500: #f1e0f9;
  --wds-color-purple-600: #f7edfc;
  --wds-color-purple-700: #ffffff;
  --wds-color-red-0: #b81206;
  --wds-color-red-50: #d0180b;
  --wds-color-red-100: #e62214;
  --wds-color-red-200: #ff6d63;
  --wds-color-red-300: #f69891;
  --wds-color-red-400: #fbd0cd;
  --wds-color-red-500: #fde3e1;
  --wds-color-red-600: #fdeceb;
  --wds-color-white: #ffffff;
  --wds-color-white-transparent-0: rgba(255, 255, 255, 0);
  --wds-color-white-transparent-1: rgba(255, 255, 255, .01);
  --wds-color-white-transparent-5: rgba(255, 255, 255, .05);
  --wds-color-white-transparent-6: rgba(255, 255, 255, .07);
  --wds-color-white-transparent-10: rgba(255, 255, 255, .1);
  --wds-color-white-transparent-12: rgba(255, 255, 255, .12);
  --wds-color-white-transparent-20: rgba(255, 255, 255, .2);
  --wds-color-white-transparent-30: rgba(255, 255, 255, .3);
  --wds-color-white-transparent-50: rgba(255, 255, 255, .5);
  --wds-color-white-transparent-70: rgba(255, 255, 255, .7);
  --wds-color-white-transparent-80: rgba(255, 255, 255, .8);
  --wds-color-yellow-0: #d59900;
  --wds-color-yellow-50: #e7a600;
  --wds-color-yellow-100: #ffb700;
  --wds-color-yellow-200: #ffc23d;
  --wds-color-yellow-300: #ffd16e;
  --wds-color-yellow-400: #ffe2a5;
  --wds-color-yellow-500: #fff0d1;
  --wds-color-yellow-600: #fff6e5;
  --wds-color-border-ai-primary: linear-gradient(60deg, #0021FF 0%, #116DFF 65%, #5FF2AE 96%);
  --wds-color-border-dark-primary: #868aa5;
  --wds-color-border-dark-primary-active: #44485f;
  --wds-color-border-dark-primary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-dark-primary-hover: #595d70;
  --wds-color-border-dark-secondary: #dfe5eb;
  --wds-color-border-dark-secondary-active: #dfe5eb;
  --wds-color-border-dark-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-dark-secondary-hover: #dfe5eb;
  --wds-color-border-destructive-primary: #f69891;
  --wds-color-border-destructive-primary-active: #e62214;
  --wds-color-border-destructive-primary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-destructive-primary-hover: #ff6d63;
  --wds-color-border-destructive-secondary: #fbd0cd;
  --wds-color-border-destructive-secondary-active: #e62214;
  --wds-color-border-destructive-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-destructive-secondary-hover: #f69891;
  --wds-color-border-destructive-tertiary: #dfe5eb;
  --wds-color-border-destructive-tertiary-active: #f69891;
  --wds-color-border-destructive-tertiary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-destructive-tertiary-hover: #fbd0cd;
  --wds-color-border-light: rgba(255, 255, 255, .5);
  --wds-color-border-light-active: #ffffff;
  --wds-color-border-light-disabled: rgba(255, 255, 255, .3);
  --wds-color-border-light-hover: rgba(255, 255, 255, .7);
  --wds-color-border-premium-primary: #cf8cf1;
  --wds-color-border-premium-primary-active: #9a27d5;
  --wds-color-border-premium-primary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-premium-primary-hover: #c161f0;
  --wds-color-border-premium-secondary: #e3c3f4;
  --wds-color-border-premium-secondary-active: #9a27d5;
  --wds-color-border-premium-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-premium-secondary-hover: #cf8cf1;
  --wds-color-border-premium-tertiary: #dfe5eb;
  --wds-color-border-premium-tertiary-active: #cf8cf1;
  --wds-color-border-premium-tertiary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-premium-tertiary-hover: #e3c3f4;
  --wds-color-border-standard-primary: #a8caff;
  --wds-color-border-standard-primary-active: #116dff;
  --wds-color-border-standard-primary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-standard-primary-hover: #5999ff;
  --wds-color-border-standard-secondary: #d6e6fe;
  --wds-color-border-standard-secondary-active: #116dff;
  --wds-color-border-standard-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-standard-secondary-hover: #a8caff;
  --wds-color-border-standard-secondary-readonly: #dfe5eb;
  --wds-color-border-standard-tertiary: #dfe5eb;
  --wds-color-border-standard-tertiary-active: #a8caff;
  --wds-color-border-standard-tertiary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-standard-tertiary-hover: #d6e6fe;
  --wds-color-border-success-primary: #87cea5;
  --wds-color-border-success-primary-active: #25a55a;
  --wds-color-border-success-primary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-success-primary-hover: #51b77b;
  --wds-color-border-success-secondary: #c8e8d6;
  --wds-color-border-success-secondary-active: #25a55a;
  --wds-color-border-success-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-success-secondary-hover: #87cea5;
  --wds-color-border-success-tertiary: #dfe5eb;
  --wds-color-border-success-tertiary-active: #87cea5;
  --wds-color-border-success-tertiary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-success-tertiary-hover: #c8e8d6;
  --wds-color-border-transparent-primary: rgba(0, 6, 36, .2);
  --wds-color-border-transparent-primary-active: rgba(0, 6, 36, .2);
  --wds-color-border-transparent-primary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-transparent-primary-hover: rgba(0, 6, 36, .4);
  --wds-color-border-urgent-primary: #fcbd9c;
  --wds-color-border-urgent-primary-active: #fe620f;
  --wds-color-border-urgent-primary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-urgent-primary-hover: #ff7d38;
  --wds-color-border-urgent-secondary: #fddbc8;
  --wds-color-border-urgent-secondary-active: #fe620f;
  --wds-color-border-urgent-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-urgent-secondary-hover: #fcbd9c;
  --wds-color-border-urgent-tertiary: #dfe5eb;
  --wds-color-border-urgent-tertiary-active: #fcbd9c;
  --wds-color-border-urgent-tertiary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-urgent-tertiary-hover: #fddbc8;
  --wds-color-border-warning-primary: #ffd16e;
  --wds-color-border-warning-primary-active: #ffb700;
  --wds-color-border-warning-primary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-warning-primary-hover: #ffc23d;
  --wds-color-border-warning-secondary: #ffe2a5;
  --wds-color-border-warning-secondary-active: #ffb700;
  --wds-color-border-warning-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-warning-secondary-hover: #ffd16e;
  --wds-color-border-warning-tertiary: #dfe5eb;
  --wds-color-border-warning-tertiary-active: #ffd16e;
  --wds-color-border-warning-tertiary-disabled: rgba(0, 6, 36, .1);
  --wds-color-border-warning-tertiary-hover: #ffe2a5;
  --wds-color-fill-accent-1: #1684EA;
  --wds-color-fill-accent-2: #17B0E2;
  --wds-color-fill-accent-3: #6544F9;
  --wds-color-fill-accent-4: #3D9FA1;
  --wds-color-fill-accent-5: #D04091;
  --wds-color-fill-accent-6: #FDB10C;
  --wds-color-fill-accent-7: #F36E1B;
  --wds-color-fill-accent-8: #CC180B;
  --wds-color-fill-accent-9: #59005F;
  --wds-color-fill-accent-10: #1F8845;
  --wds-color-fill-ai-primary: linear-gradient(60deg, #0021FF 0%, #116DFF 65%, #5FF2AE 96%);
  --wds-color-fill-ai-primary-active: linear-gradient(60deg, #0021FF 0%, #116DFF 65%, #5FF2AE 96%);
  --wds-color-fill-ai-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-ai-primary-hover: linear-gradient(81deg, #0021FF -177.08%, #116DFF 31.96%, #5FF2AE 99.97%);
  --wds-color-fill-ai-secondary: #d6d1fc;
  --wds-color-fill-ai-secondary-active: #d6d1fc;
  --wds-color-fill-ai-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-ai-secondary-hover: #a59bfa;
  --wds-color-fill-ai-tertiary: #ffffff;
  --wds-color-fill-ai-tertiary-active: #d6d1fc;
  --wds-color-fill-ai-tertiary-disabled: #ffffff;
  --wds-color-fill-ai-tertiary-hover: #f7f8f8;
  --wds-color-fill-dark-primary: #000624;
  --wds-color-fill-dark-primary-active: #000624;
  --wds-color-fill-dark-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-dark-primary-hover: #44485f;
  --wds-color-fill-dark-secondary: #eceff3;
  --wds-color-fill-dark-secondary-active: #cfd1dc;
  --wds-color-fill-dark-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-dark-secondary-hover: #dfe5eb;
  --wds-color-fill-dark-tertiary: #ffffff;
  --wds-color-fill-dark-tertiary-active: #cfd1dc;
  --wds-color-fill-dark-tertiary-disabled: #ffffff;
  --wds-color-fill-dark-tertiary-hover: #dfe5eb;
  --wds-color-fill-destructive-primary: #e62214;
  --wds-color-fill-destructive-primary-active: #b81206;
  --wds-color-fill-destructive-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-destructive-primary-hover: #d0180b;
  --wds-color-fill-destructive-secondary: #fbd0cd;
  --wds-color-fill-destructive-secondary-active: #ff6d63;
  --wds-color-fill-destructive-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-destructive-secondary-hover: #f69891;
  --wds-color-fill-destructive-tertiary: #ffffff;
  --wds-color-fill-destructive-tertiary-active: #fbd0cd;
  --wds-color-fill-destructive-tertiary-disabled: #ffffff;
  --wds-color-fill-destructive-tertiary-hover: #fde3e1;
  --wds-color-fill-light-primary: #ffffff;
  --wds-color-fill-light-primary-active: #d6e6fe;
  --wds-color-fill-light-primary-disabled: rgba(255, 255, 255, .3);
  --wds-color-fill-light-primary-hover: #e7f0ff;
  --wds-color-fill-light-secondary: rgba(255, 255, 255, 0);
  --wds-color-fill-light-secondary-active: #d6e6fe;
  --wds-color-fill-light-secondary-disabled: rgba(255, 255, 255, 0);
  --wds-color-fill-light-secondary-hover: #e7f0ff;
  --wds-color-fill-premium-primary: #9a27d5;
  --wds-color-fill-premium-primary-active: #7416a5;
  --wds-color-fill-premium-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-premium-primary-hover: #8e1dd1;
  --wds-color-fill-premium-secondary: #e3c3f4;
  --wds-color-fill-premium-secondary-active: #c161f0;
  --wds-color-fill-premium-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-premium-secondary-hover: #cf8cf1;
  --wds-color-fill-premium-tertiary: #ffffff;
  --wds-color-fill-premium-tertiary-active: #e3c3f4;
  --wds-color-fill-premium-tertiary-disabled: #ffffff;
  --wds-color-fill-premium-tertiary-hover: #f1e0f9;
  --wds-color-fill-premium-light-primary: #ffffff;
  --wds-color-fill-premium-light-primary-active: #e3c3f4;
  --wds-color-fill-premium-light-primary-disabled: rgba(255, 255, 255, .3);
  --wds-color-fill-premium-light-primary-hover: #f1e0f9;
  --wds-color-fill-premium-light-secondary: rgba(255, 255, 255, 0);
  --wds-color-fill-premium-light-secondary-active: #e3c3f4;
  --wds-color-fill-premium-light-secondary-disabled: rgba(255, 255, 255, 0);
  --wds-color-fill-premium-light-secondary-hover: #f1e0f9;
  --wds-color-fill-social-facebook: #1877f2;
  --wds-color-fill-social-facebook-active: #1877f2;
  --wds-color-fill-social-facebook-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-social-facebook-hover: rgba(24, 119, 242, .8);
  --wds-color-fill-social-instagram: #ff0175;
  --wds-color-fill-social-instagram-active: #ff0175;
  --wds-color-fill-social-instagram-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-social-instagram-hover: rgba(255, 1, 117, .8);
  --wds-color-fill-social-linkedin: #0065c8;
  --wds-color-fill-social-linkedin-active: #0065c8;
  --wds-color-fill-social-linkedin-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-social-linkedin-hover: rgba(0, 101, 200, .8);
  --wds-color-fill-social-pinterest: #e60019;
  --wds-color-fill-social-pinterest-active: #e60019;
  --wds-color-fill-social-pinterest-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-social-pinterest-hover: rgba(230, 0, 25, .8);
  --wds-color-fill-social-twitter: #1da1f2;
  --wds-color-fill-social-twitter-active: #1da1f2;
  --wds-color-fill-social-twitter-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-social-twitter-hover: rgba(29, 161, 242, .8);
  --wds-color-fill-social-xcorp: #101419;
  --wds-color-fill-social-xcorp-active: #101419;
  --wds-color-fill-social-xcorp-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-social-xcorp-hover: rgba(16, 20, 25, .8);
  --wds-color-fill-social-youtube: #ff0000;
  --wds-color-fill-social-youtube-active: #ff0000;
  --wds-color-fill-social-youtube-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-social-youtube-hover: rgba(255, 0, 0, .8);
  --wds-color-fill-standard-primary: #116dff;
  --wds-color-fill-standard-primary-active: #084ebd;
  --wds-color-fill-standard-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-standard-primary-hover: #0f62e6;
  --wds-color-fill-standard-secondary: #d6e6fe;
  --wds-color-fill-standard-secondary-active: #5999ff;
  --wds-color-fill-standard-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-standard-secondary-hover: #a8caff;
  --wds-color-fill-standard-tertiary: #ffffff;
  --wds-color-fill-standard-tertiary-active: #d6e6fe;
  --wds-color-fill-standard-tertiary-disabled: #ffffff;
  --wds-color-fill-standard-tertiary-hover: #e7f0ff;
  --wds-color-fill-standard-tertiary-readonly: #eceff3;
  --wds-color-fill-standard-light-primary: #80b1ff;
  --wds-color-fill-standard-light-primary-active: #5999ff;
  --wds-color-fill-standard-light-primary-disabled: rgba(255, 255, 255, .3);
  --wds-color-fill-standard-light-primary-hover: #5999ff;
  --wds-color-fill-standard-light-secondary: #ffffff;
  --wds-color-fill-standard-light-secondary-active: #5999ff;
  --wds-color-fill-standard-light-secondary-disabled: rgba(255, 255, 255, .3);
  --wds-color-fill-standard-light-secondary-hover: #80b1ff;
  --wds-color-fill-success-primary: #25a55a;
  --wds-color-fill-success-primary-active: #1d8649;
  --wds-color-fill-success-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-success-primary-hover: #229954;
  --wds-color-fill-success-secondary: #c8e8d6;
  --wds-color-fill-success-secondary-active: #51b77b;
  --wds-color-fill-success-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-success-secondary-hover: #87cea5;
  --wds-color-fill-success-tertiary: #ffffff;
  --wds-color-fill-success-tertiary-active: #c8e8d6;
  --wds-color-fill-success-tertiary-disabled: #ffffff;
  --wds-color-fill-success-tertiary-hover: #e1f4eb;
  --wds-color-fill-surface-dark: #000624;
  --wds-color-fill-surface-default: #ffffff;
  --wds-color-fill-surface-destructive: #fde3e1;
  --wds-color-fill-surface-modal: #ffffff;
  --wds-color-fill-surface-modal-backdrop: rgba(0, 6, 36, .7);
  --wds-color-fill-surface-neutral: #f7f8f8;
  --wds-color-fill-surface-overlay: #ffffff;
  --wds-color-fill-surface-overlay-dark: #000624;
  --wds-color-fill-surface-premium: #f1e0f9;
  --wds-color-fill-surface-raised: #ffffff;
  --wds-color-fill-surface-standard: #e7f0ff;
  --wds-color-fill-surface-success: #e1f4eb;
  --wds-color-fill-surface-sunken: #eceff3;
  --wds-color-fill-surface-warning: #fff0d1;
  --wds-color-fill-transparent-primary: rgba(68, 72, 95, .5);
  --wds-color-fill-transparent-primary-active: rgba(68, 72, 95, .7);
  --wds-color-fill-transparent-primary-disabled: rgba(0, 6, 36, .2);
  --wds-color-fill-transparent-primary-hover: rgba(68, 72, 95, .6);
  --wds-color-fill-transparent-secondary: rgba(68, 72, 95, 0);
  --wds-color-fill-transparent-secondary-active: rgba(68, 72, 95, .7);
  --wds-color-fill-transparent-secondary-disabled: rgba(68, 72, 95, 0);
  --wds-color-fill-transparent-secondary-hover: rgba(68, 72, 95, .6);
  --wds-color-fill-urgent-primary: #fe620f;
  --wds-color-fill-urgent-primary-active: #df4d00;
  --wds-color-fill-urgent-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-urgent-primary-hover: #fee5d7;
  --wds-color-fill-urgent-secondary: #fddbc8;
  --wds-color-fill-urgent-secondary-active: #ff7d38;
  --wds-color-fill-urgent-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-urgent-secondary-hover: #fcbd9c;
  --wds-color-fill-urgent-tertiary: #ffffff;
  --wds-color-fill-urgent-tertiary-active: #fddbc8;
  --wds-color-fill-urgent-tertiary-disabled: #ffffff;
  --wds-color-fill-urgent-tertiary-hover: #fee5d7;
  --wds-color-fill-warning-primary: #ffb700;
  --wds-color-fill-warning-primary-active: #d59900;
  --wds-color-fill-warning-primary-disabled: rgba(0, 6, 36, .3);
  --wds-color-fill-warning-primary-hover: #e7a600;
  --wds-color-fill-warning-secondary: #ffe2a5;
  --wds-color-fill-warning-secondary-active: #ffc23d;
  --wds-color-fill-warning-secondary-disabled: rgba(0, 6, 36, .1);
  --wds-color-fill-warning-secondary-hover: #ffd16e;
  --wds-color-gradient-light-bottom-to-top: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  --wds-color-gradient-light-left-to-right: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  --wds-color-gradient-light-right-to-left: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  --wds-color-gradient-neutral: linear-gradient(0deg, #eceff3 0%, #eceff300 100%);
  --wds-color-text-destructive: #e62214;
  --wds-color-text-disabled: rgba(0, 6, 36, .3);
  --wds-color-text-disabled-light: rgba(255, 255, 255, .7);
  --wds-color-text-placeholder: #868aa5;
  --wds-color-text-placeholder-light: #868aa5;
  --wds-color-text-premium: #9a27d5;
  --wds-color-text-primary: #116dff;
  --wds-color-text-standard-primary: #000624;
  --wds-color-text-standard-primary-light: #ffffff;
  --wds-color-text-standard-secondary: #44485f;
  --wds-color-text-standard-secondary-light: #868aa5;
  --wds-color-text-success: #25a55a;
  --wds-color-text-urgent: #fe620f;
  --wds-color-text-warning: #ffb700;
  --wds-font-family-default: Madefor, "Helvetica Neue", Helvetica,Arial, "メイリオ", "meiryo", "ヒラギノ角ゴ pro w3", "hiragino kaku gothic pro", sans-serif;
  --wds-font-letter-spacing-0: 0;
  --wds-font-letter-spacing-100: 1px;
  --wds-font-letter-spacing-heading-1: 0;
  --wds-font-letter-spacing-heading-2: 0;
  --wds-font-letter-spacing-heading-3: 0;
  --wds-font-letter-spacing-heading-4: 0;
  --wds-font-letter-spacing-heading-5: 1px;
  --wds-font-letter-spacing-heading-6: 1px;
  --wds-font-line-height-100: 12px;
  --wds-font-line-height-200: 18px;
  --wds-font-line-height-300: 24px;
  --wds-font-line-height-400: 28px;
  --wds-font-line-height-500: 36px;
  --wds-font-line-height-body-extra-tiny: 12px;
  --wds-font-line-height-body-medium: 24px;
  --wds-font-line-height-body-small: 18px;
  --wds-font-line-height-body-tiny: 18px;
  --wds-font-line-height-heading-1: 36px;
  --wds-font-line-height-heading-2: 28px;
  --wds-font-line-height-heading-3: 24px;
  --wds-font-line-height-heading-4: 24px;
  --wds-font-line-height-heading-5: 24px;
  --wds-font-line-height-heading-6: 18px;
  --wds-font-size-100: 10px;
  --wds-font-size-200: 12px;
  --wds-font-size-300: 14px;
  --wds-font-size-400: 15px;
  --wds-font-size-500: 16px;
  --wds-font-size-600: 18px;
  --wds-font-size-700: 20px;
  --wds-font-size-800: 21px;
  --wds-font-size-900: 28px;
  --wds-font-size-body-extra-tiny: 10px;
  --wds-font-size-body-medium: 16px;
  --wds-font-size-body-small: 14px;
  --wds-font-size-body-tiny: 12px;
  --wds-font-size-heading-1: 28px;
  --wds-font-size-heading-2: 21px;
  --wds-font-size-heading-3: 18px;
  --wds-font-size-heading-4: 18px;
  --wds-font-size-heading-5: 15px;
  --wds-font-size-heading-6: 12px;
  --wds-font-weight-bold: 700;
  --wds-font-weight-medium: 500;
  --wds-font-weight-regular: 400;
  --wds-font-weight-heading-1: 700;
  --wds-font-weight-heading-2: 700;
  --wds-font-weight-heading-3: 700;
  --wds-font-weight-heading-4: 500;
  --wds-font-weight-heading-5: 400;
  --wds-font-weight-heading-6: 400;
  --wds-shadow-100: 0 0 3px rgba(0, 6, 36, .1), 0 2px 1px rgba(0, 6, 36, .5);
  --wds-shadow-200: 0 0 6px rgba(0, 6, 36, .1), 0 2px 4px rgba(0, 6, 36, .1);
  --wds-shadow-300: 0 0 18px rgba(0, 6, 36, .1), 0 6px 6px rgba(0, 6, 36, .05);
  --wds-shadow-400: 0 3px 24px rgba(0, 6, 36, .2), 0 8px 8px rgba(0, 6, 36, .1);
  --wds-shadow-inner-100: 1px 1px 2px rgba(0, 6, 36, .1) inset, 1px 1px 2px rgba(255, 255, 255, .1);
  --wds-shadow-inner-200: 1px 1px 4px rgba(0, 6, 36, .2) inset;
  --wds-shadow-inner-300: 0 0 18px rgba(0, 6, 36, .1) inset, 0 0 6px rgba(0, 6, 36, .05) inset;
  --wds-shadow-inner-400: 0 0 24px rgba(0, 6, 36, .2) inset, 0 0 6px rgba(0, 6, 36, .05) inset;
  --wds-shadow-inner-300-bottom: 0 -22px 18px -18px rgba(0, 6, 36, .1) inset, 0 -8px 6px -6px rgba(0, 6, 36, .05) inset;
  --wds-shadow-inner-300-horizontal: 22px 0 18px -18px rgba(0, 6, 36, .1) inset, 8px 0 6px -6px rgba(0, 6, 36, .05) inset, -22px 0 18px -18px rgba(0, 6, 36, .1) inset, -8px 0 6px -6px rgba(0, 6, 36, .05) inset;
  --wds-shadow-inner-300-left: 22px 0 18px -18px rgba(0, 6, 36, .1) inset, 8px 0 6px -6px rgba(0, 6, 36, .05) inset;
  --wds-shadow-inner-300-right: -22px 0 18px -18px rgba(0, 6, 36, .1) inset, -8px 0 6px -6px rgba(0, 6, 36, .05) inset;
  --wds-shadow-inner-300-top: 0 22px 18px -18px rgba(0, 6, 36, .1) inset, 0 -8px 6px -6px rgba(0, 6, 36, .05) inset;
  --wds-shadow-inner-300-vertical: 0 22px 18px -18px rgba(0, 6, 36, .1) inset, 0 -8px 6px -6px rgba(0, 6, 36, .05) inset, 0 -22px 18px -18px rgba(0, 6, 36, .1) inset, 0 -8px 6px -6px rgba(0, 6, 36, .05) inset;
  --wds-shadow-inner-400-bottom: 0 -32px 24px -24px rgba(0, 6, 36, .2) inset, 0 -8px 6px -6px rgba(0, 6, 36, .05) inset;
  --wds-shadow-inner-400-horizontal: 22px 0 18px -18px rgba(0, 6, 36, .1) inset, 8px 0 6px -6px rgba(0, 6, 36, .05) inset, -22px 0 18px -18px rgba(0, 6, 36, .1) inset, -8px 0 6px -6px rgba(0, 6, 36, .05) inset;
  --wds-shadow-inner-400-left: 32px 0 24px -24px rgba(0, 6, 36, .2) inset, 8px 0 6px -6px rgba(0, 6, 36, .05) inset;
  --wds-shadow-inner-400-right: -32px 0 24px -24px rgba(0, 6, 36, .2) inset, -8px 0 6px -6px rgba(0, 6, 36, .05) inset;
  --wds-shadow-inner-400-top: 0 32px 24px -24px rgba(0, 6, 36, .2) inset, 0 8px 6px -6px rgba(0, 6, 36, .05) inset;
  --wds-shadow-inner-400-vertical: 0 22px 18px -18px rgba(0, 6, 36, .1) inset, 0 -8px 6px -6px rgba(0, 6, 36, .05) inset, 0 -22px 18px -18px rgba(0, 6, 36, .1) inset, 0 -8px 6px -6px rgba(0, 6, 36, .05) inset;
  --wds-shadow-focus-destructive: 0 0 0 3px #fbd0cd;
  --wds-shadow-focus-inner-destructive: 0 0 0 3px #fbd0cd inset;
  --wds-shadow-focus-inner-standard: 0 0 0 3px #a8caff inset;
  --wds-shadow-focus-inner-warning: 0 0 0 3px #ffe2a5 inset;
  --wds-shadow-focus-standard: 0 0 0 3px #a8caff;
  --wds-shadow-focus-warning: 0 0 0 3px #ffe2a5;
  --wds-shadow-surface-modal: 0 3px 24px rgba(0, 6, 36, .2), 0 8px 8px rgba(0, 6, 36, .1);
  --wds-shadow-surface-overlay: 0 0 18px rgba(0, 6, 36, .1), 0 6px 6px rgba(0, 6, 36, .05);
  --wds-shadow-surface-overlay-dark: 0 0 18px rgba(0, 6, 36, .1), 0 6px 6px rgba(0, 6, 36, .05);
  --wds-shadow-surface-raised: 0 0 6px rgba(0, 6, 36, .1), 0 2px 4px rgba(0, 6, 36, .1);
  --wds-space-0: 0;
  --wds-space-25: 1px;
  --wds-space-50: 3px;
  --wds-space-100: 6px;
  --wds-space-150: 9px;
  --wds-space-200: 12px;
  --wds-space-250: 15px;
  --wds-space-300: 18px;
  --wds-space-400: 24px;
  --wds-space-475: 28px;
  --wds-space-500: 30px;
  --wds-space-600: 36px;
  --wds-space-700: 42px;
  --wds-space-800: 48px;
  --wds-space-900: 54px;
  --wds-space-1000: 60px;
  --wds-space-1100: 66px;
  --wds-space-1200: 72px;
  --wds-space-1300: 78px;
  --wds-space-1400: 84px;
  --wds-space-1500: 90px;
  --wds-space-1600: 96px;
  --wds-space-1700: 102px;
  --wds-space-2400: 144px;
  --wds-space-padding-horizontal-large: 24px;
  --wds-space-padding-horizontal-medium: 18px;
  --wds-space-padding-horizontal-small: 15px;
  --wds-space-padding-horizontal-tiny: 12px;
  --wds-space-padding-horizontal-x-tiny: 6px;
  --wds-space-padding-horizontal-xx-tiny: 3px;
  --wds-space-padding-vertical-large: 24px;
  --wds-space-padding-vertical-medium: 18px;
  --wds-space-padding-vertical-small: 15px;
  --wds-space-padding-vertical-tiny: 12px;
  --wds-space-padding-vertical-x-tiny: 6px;
  --wds-space-padding-vertical-xx-tiny: 3px;
  --wds-border-radius-surface-modal: 8px;
  --wds-border-radius-surface-overlay: 8px;
}
